{% extends base %}


{% block content %}
    <h2>Форма</h2>
    {% for category, msg in get_flashed_messages(True) %}
    <div class="flash {{ category }}">{{ msg }}</div>
    {% endfor %}
<form action="{{ url_for("form") }}" method="POST" id="authorize">
    <label for="username">Никнейм:</label>
    <input type="text" name="username" id="username" placeholder="Имя пользователя">

    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" placeholder="Пароль">

    <br>
    <div class="checkbox">
    <input type="checkbox" name="remember" id="checkbox" class="checkbox_input">
    <label class="checkbox_label" for="checkbox">Запомнить</label>
    </div>
    <br>
    <input type="submit">
</form>
{% endblock %}