{% extends base %}

{% block content %}
    {% for category, msg in get_flashed_messages(True) %}
    <div class="flash {{ category }}">{{ msg }}</div>
    {% endfor %}
    <br>
<form action="{{ url_for('login') }}" method="POST" id="login">
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" %}
        <p class="{{ field.type }}">
            {{ field.label() if field.type != "BooleanField" and field.type != "SubmitField" }}
            {{ field }}
            {{ field.label() if field.type == "BooleanField" }}
        </p>

    {% endfor %}
</form>
{% endblock %}
